In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("eth_usd_max.csv")
df.tail(15)

                   snapped_at        price    market_cap  total_volume
3170  2024-04-12 00:00:00 UTC  3508.578498  4.211843e+11  1.466500e+10
3171  2024-04-13 00:00:00 UTC  3245.500593  3.893423e+11  2.030094e+10
3172  2024-04-14 00:00:00 UTC  3022.005785  3.636767e+11  3.085588e+10
3173  2024-04-15 00:00:00 UTC  3157.683766  3.794198e+11  2.642648e+10
3174  2024-04-16 00:00:00 UTC  3101.190736  3.722497e+11  2.340807e+10
3175  2024-04-17 00:00:00 UTC  3083.706015  3.702341e+11  1.971614e+10
3176  2024-04-18 00:00:00 UTC  2982.615735  3.581579e+11  1.855588e+10
3177  2024-04-19 00:00:00 UTC  3064.911592  3.683948e+11  1.577662e+10
3178  2024-04-20 00:00:00 UTC  3065.682562  3.689250e+11  2.139817e+10
3179  2024-04-21 00:00:00 UTC  3152.191507  3.786015e+11  9.245605e+09
3180  2024-04-22 00:00:00 UTC  3147.137754  3.778353e+11  9.264213e+09
3181  2024-04-23 00:00:00 UTC  3199.769590  3.844669e+11  1.210134e+10
3182  2024-04-24 00:00:00 UTC  3218.967269  3.927751e+11  1.111125e+10
3183  2024-04-25 00:00:00 UTC  3138.814357  3.830686e+11  1.493166e+10
3184  2024-04-26 00:00:00 UTC  3157.619317  3.853605e+11  1.482715e+10

In [3]:
df.shape

(3185, 4)

In [4]:
df.loc[0, 'snapped_at']

'2015-08-07 00:00:00 UTC'

In [5]:
df['Date'] = pd.to_datetime(df['snapped_at'])

In [6]:
df['Date']

0      2015-08-07 00:00:00+00:00
1      2015-08-08 00:00:00+00:00
2      2015-08-10 00:00:00+00:00
3      2015-08-11 00:00:00+00:00
4      2015-08-12 00:00:00+00:00
                  ...
3180   2024-04-22 00:00:00+00:00
3181   2024-04-23 00:00:00+00:00
3182   2024-04-24 00:00:00+00:00
3183   2024-04-25 00:00:00+00:00
3184   2024-04-26 00:00:00+00:00
Name: Date, Length: 3185, dtype: datetime64[ns, UTC]

In [7]:
df.loc[0, 'Date'].day_name()

'Friday'

In [8]:
df['DayOfWeek'] = df['Date'].dt.day_name()
df

,snapped_at,price,market_cap,total_volume,Date,DayOfWeek
0,2015-08-07 00:00:00 UTC,2.831620,0.000000e+00,9.062200e+04,2015-08-07 00:00:00+00:00,Friday
1,2015-08-08 00:00:00 UTC,1.330750,8.033948e+07,3.680700e+05,2015-08-08 00:00:00+00:00,Saturday
2,2015-08-10 00:00:00 UTC,0.687586,4.155631e+07,4.004641e+05,2015-08-10 00:00:00+00:00,Monday
3,2015-08-11 00:00:00 UTC,1.067379,6.453901e+07,1.518998e+06,2015-08-11 00:00:00+00:00,Tuesday
4,2015-08-12 00:00:00 UTC,1.256613,7.601326e+07,2.073893e+06,2015-08-12 00:00:00+00:00,Wednesday
...,...,...,...,...,...,...
3180,2024-04-22 00:00:00 UTC,3147.137754,3.778353e+11,9.264213e+09,2024-04-22 00:00:00+00:00,Monday
3181,2024-04-23 00:00:00 UTC,3199.769590,3.844669e+11,1.210134e+10,2024-04-23 00:00:00+00:00,Tuesday
3182,2024-04-24 00:00:00 UTC,3218.967269,3.927751e+11,1.111125e+10,2024-04-24 00:00:00+00:00,Wednesday
3183,2024-04-25 00:00:00 UTC,3138.814357,3.830686e+11,1.493166e+10,2024-04-25 00:00:00+00:00,Thursday
3184,2024-04-26 00:00:00 UTC,3157.619317,3.853605e+11,1.482715e+10,2024-04-26 00:00:00+00:00,Friday

In [9]:
df['Date'].min()

Timestamp('2015-08-07 00:00:00+0000', tz='UTC')

In [10]:
df['Date'].max()

Timestamp('2024-04-26 00:00:00+0000', tz='UTC')

In [11]:
df['Date'].max() - df['Date'].min()

Timedelta('3185 days 00:00:00')

In [12]:
filtered_date = (df['Date'] >= '2020')
df.loc[filtered_date]

,snapped_at,price,market_cap,total_volume,Date,DayOfWeek
1607,2020-01-01 00:00:00 UTC,129.186385,1.409745e+10,7.103187e+09,2020-01-01 00:00:00+00:00,Wednesday
1608,2020-01-02 00:00:00 UTC,130.484685,1.423059e+10,6.623732e+09,2020-01-02 00:00:00+00:00,Thursday
1609,2020-01-03 00:00:00 UTC,127.045258,1.385979e+10,6.497298e+09,2020-01-03 00:00:00+00:00,Friday
1610,2020-01-04 00:00:00 UTC,133.702649,1.461319e+10,9.655245e+09,2020-01-04 00:00:00+00:00,Saturday
1611,2020-01-05 00:00:00 UTC,134.136883,1.463621e+10,6.958394e+09,2020-01-05 00:00:00+00:00,Sunday
...,...,...,...,...,...,...
3180,2024-04-22 00:00:00 UTC,3147.137754,3.778353e+11,9.264213e+09,2024-04-22 00:00:00+00:00,Monday
3181,2024-04-23 00:00:00 UTC,3199.769590,3.844669e+11,1.210134e+10,2024-04-23 00:00:00+00:00,Tuesday
3182,2024-04-24 00:00:00 UTC,3218.967269,3.927751e+11,1.111125e+10,2024-04-24 00:00:00+00:00,Wednesday
3183,2024-04-25 00:00:00 UTC,3138.814357,3.830686e+11,1.493166e+10,2024-04-25 00:00:00+00:00,Thursday
3184,2024-04-26 00:00:00 UTC,3157.619317,3.853605e+11,1.482715e+10,2024-04-26 00:00:00+00:00,Friday

In [13]:
filtered_date = (df['Date'] >= '2020') & (df['Date'] < '2021')
df.loc[filtered_date]

,snapped_at,price,market_cap,total_volume,Date,DayOfWeek
1607,2020-01-01 00:00:00 UTC,129.186385,1.409745e+10,7.103187e+09,2020-01-01 00:00:00+00:00,Wednesday
1608,2020-01-02 00:00:00 UTC,130.484685,1.423059e+10,6.623732e+09,2020-01-02 00:00:00+00:00,Thursday
1609,2020-01-03 00:00:00 UTC,127.045258,1.385979e+10,6.497298e+09,2020-01-03 00:00:00+00:00,Friday
1610,2020-01-04 00:00:00 UTC,133.702649,1.461319e+10,9.655245e+09,2020-01-04 00:00:00+00:00,Saturday
1611,2020-01-05 00:00:00 UTC,134.136883,1.463621e+10,6.958394e+09,2020-01-05 00:00:00+00:00,Sunday
...,...,...,...,...,...,...
1968,2020-12-27 00:00:00 UTC,636.742317,7.239140e+10,1.464053e+10,2020-12-27 00:00:00+00:00,Sunday
1969,2020-12-28 00:00:00 UTC,689.659857,7.883307e+10,2.472130e+10,2020-12-28 00:00:00+00:00,Monday
1970,2020-12-29 00:00:00 UTC,732.957029,8.357556e+10,2.270705e+10,2020-12-29 00:00:00+00:00,Tuesday
1971,2020-12-30 00:00:00 UTC,735.590898,8.388524e+10,1.717043e+10,2020-12-30 00:00:00+00:00,Wednesday
1972,2020-12-31 00:00:00 UTC,752.855932,8.579018e+10,1.329387e+10,2020-12-31 00:00:00+00:00,Thursday

In [14]:
#More granular data
from pytz import utc

# Convert the timestamps to timezone aware with UTC timezone
start_date = pd.to_datetime('2020-01-01').tz_localize(utc)
end_date = pd.to_datetime('2020-03-31').tz_localize(utc)


filt = (df['Date'] >= start_date) & (df['Date'] <= end_date)
df.loc[filt]

,snapped_at,price,market_cap,total_volume,Date,DayOfWeek
1607,2020-01-01 00:00:00 UTC,129.186385,1.409745e+10,7.103187e+09,2020-01-01 00:00:00+00:00,Wednesday
1608,2020-01-02 00:00:00 UTC,130.484685,1.423059e+10,6.623732e+09,2020-01-02 00:00:00+00:00,Thursday
1609,2020-01-03 00:00:00 UTC,127.045258,1.385979e+10,6.497298e+09,2020-01-03 00:00:00+00:00,Friday
1610,2020-01-04 00:00:00 UTC,133.702649,1.461319e+10,9.655245e+09,2020-01-04 00:00:00+00:00,Saturday
1611,2020-01-05 00:00:00 UTC,134.136883,1.463621e+10,6.958394e+09,2020-01-05 00:00:00+00:00,Sunday
...,...,...,...,...,...,...
1693,2020-03-27 00:00:00 UTC,138.766938,1.527736e+10,7.749491e+09,2020-03-27 00:00:00+00:00,Friday
1694,2020-03-28 00:00:00 UTC,130.286562,1.495874e+10,1.018349e+10,2020-03-28 00:00:00+00:00,Saturday
1695,2020-03-29 00:00:00 UTC,131.424052,1.446807e+10,1.106786e+10,2020-03-29 00:00:00+00:00,Sunday
1696,2020-03-30 00:00:00 UTC,125.318875,1.381984e+10,7.718875e+09,2020-03-30 00:00:00+00:00,Monday
1697,2020-03-31 00:00:00 UTC,132.363739,1.461513e+10,8.469234e+09,2020-03-31 00:00:00+00:00,Tuesday

In [15]:
df.set_index('snapped_at', inplace=True)
df

,price,market_cap,total_volume,Date,DayOfWeek
snapped_at,,,,,
2015-08-07 00:00:00 UTC,2.831620,0.000000e+00,9.062200e+04,2015-08-07 00:00:00+00:00,Friday
2015-08-08 00:00:00 UTC,1.330750,8.033948e+07,3.680700e+05,2015-08-08 00:00:00+00:00,Saturday
2015-08-10 00:00:00 UTC,0.687586,4.155631e+07,4.004641e+05,2015-08-10 00:00:00+00:00,Monday
2015-08-11 00:00:00 UTC,1.067379,6.453901e+07,1.518998e+06,2015-08-11 00:00:00+00:00,Tuesday
2015-08-12 00:00:00 UTC,1.256613,7.601326e+07,2.073893e+06,2015-08-12 00:00:00+00:00,Wednesday
...,...,...,...,...,...
2024-04-22 00:00:00 UTC,3147.137754,3.778353e+11,9.264213e+09,2024-04-22 00:00:00+00:00,Monday
2024-04-23 00:00:00 UTC,3199.769590,3.844669e+11,1.210134e+10,2024-04-23 00:00:00+00:00,Tuesday
2024-04-24 00:00:00 UTC,3218.967269,3.927751e+11,1.111125e+10,2024-04-24 00:00:00+00:00,Wednesday
2024-04-25 00:00:00 UTC,3138.814357,3.830686e+11,1.493166e+10,2024-04-25 00:00:00+00:00,Thursday
2024-04-26 00:00:00 UTC,3157.619317,3.853605e+11,1.482715e+10,2024-04-26 00:00:00+00:00,Friday

In [16]:
df.loc['2019']

KeyError: '2019'

In [ ]:
def extract_quarters(df, snapped_at):
    df['snapped_at'] = pd.to_datetime(df['snapped_at'])
    df['Quarter'] = df['snapped_at'].dt.quarter
    
    return df


df = extract_quarters(df, 'snapped_at')
df

In [22]:
import numpy as np
rng = pd.date_range('2024-01-01', '2024-12-31', freq="W")
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.index

DatetimeIndex(['2024-01-07', '2024-01-14', '2024-01-21', '2024-01-28',
               '2024-02-04', '2024-02-11', '2024-02-18', '2024-02-25',
               '2024-03-03', '2024-03-10', '2024-03-17', '2024-03-24',
               '2024-03-31', '2024-04-07', '2024-04-14', '2024-04-21',
               '2024-04-28', '2024-05-05', '2024-05-12', '2024-05-19',
               '2024-05-26', '2024-06-02', '2024-06-09', '2024-06-16',
               '2024-06-23', '2024-06-30', '2024-07-07', '2024-07-14',
               '2024-07-21', '2024-07-28', '2024-08-04', '2024-08-11',
               '2024-08-18', '2024-08-25', '2024-09-01', '2024-09-08',
               '2024-09-15', '2024-09-22', '2024-09-29', '2024-10-06',
               '2024-10-13', '2024-10-20', '2024-10-27', '2024-11-03',
               '2024-11-10', '2024-11-17', '2024-11-24', '2024-12-01',
               '2024-12-08', '2024-12-15', '2024-12-22', '2024-12-29'],
              dtype='datetime64[ns]', freq='W-SUN')